- @recipe.each_slice(3) do |recipes|
	.row
		- recipes.each do |recipe|
			.col-md-4
				.recipe
					.image_wrapper
						= link_to recipe do
							= image_tag recipe.image.url(:medium)
					%h2= link_to recipe.title, recipe
					.row
						.col-md-12
							#score_buttons
								= link_to "Like", like_recipe_path(recipe), method: :put, class: "btn btn-success"
								= link_to "Dislike", dislike_recipe_path(recipe), method: :put, class: "btn btn-danger"
								= recipe.weighted_score
					%p.description= recipe.description
